services:
  mongo_1_single:
    image: mongo:8.0
    container_name: mongodb1_single
    hostname: mongodb1_single
    ports:
      - "27017:27017"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
    tmpfs:
      - /data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
      - MONGO_INITDB_DATABASE=facility_rental

  redis:
    image: redis:7
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  redis_data: