<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="content">

    <form th:action="@{/view/users/add/client}" method="post">

        <label>Login</label>
        <input type="text" name="login" required maxlength="50">

        <label>Email</label>
        <input type="email" name="email" required maxlength="50">

        <label>Imię</label>
        <input type="text" name="firstName" required maxlength="50">

        <label>Nazwisko</label>
        <input type="text" name="lastName" required maxlength="50">

        <label>Telefon</label>
        <input type="text" name="phone" required>

        <label>Aktywny</label>
        <input type="checkbox" name="active" checked>

        <button type="submit">Utwórz klienta</button>
    </form>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"></div>

</div>

</html>