<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="content">

    <h2>Dodaj obiekt</h2>

    <form th:action="@{/view/facilities/add}" method="post">

        <label>Nazwa</label>
        <input type="text" name="name" required maxlength="100">

        <label>Numer ulicy</label>
        <input type="text" name="streetNumber" placeholder="np. 12A">

        <label>Ulica</label>
        <input type="text" name="street" required maxlength="50">

        <label>Miasto</label>
        <input type="text" name="city" required maxlength="50">

        <label>Kod pocztowy</label>
        <input type="text" name="postalCode" placeholder="00-000">

        <label>Cena bazowa</label>
        <input type="number" name="basePrice" step="0.01" min="0.01" required>

        <button type="submit">Dodaj</button>
    </form>

    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>


</div>

</html>