<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="content">

    <h2>Edycja obiektu</h2>

    <form th:action="@{/view/facilities/edit}" method="post">

        <input type="hidden" name="facilityId" th:value="${facility.id}"/>

        <label>Nazwa</label>
        <input type="text"
               name="name"
               th:value="${facility.name}"
               maxlength="100"
               required/>

        <label>Cena bazowa</label>
        <input type="number"
               name="basePrice"
               th:value="${facility.price}"
               step="0.01"
               min="0.01"
               required/>

        <hr/>

        <label>Numer ulicy</label>
        <input type="text" th:value="${facility.streetNumber}" disabled/>

        <label>Ulica</label>
        <input type="text" th:value="${facility.street}" disabled/>

        <label>Miasto</label>
        <input type="text" th:value="${facility.city}" disabled/>

        <label>Kod pocztowy</label>
        <input type="text" th:value="${facility.postalCode}" disabled/>

        <br/><br/>

        <button type="submit">Zapisz zmiany</button>
        <a th:href="@{/view/facilities}">Anuluj</a>
    </form>

    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>

</div>

</html>