name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build the backend container image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        file: ./Docker_single/rest/Dockerfile
        tags: kacpermaziarz/facility_rental:0.0.1
    - name: Build the nginx container image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        file: ./Docker_single/spa/Dockerfile
        tags: kacpermaziarz/facility_rental_nginx:0.0.1
        

  
